body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.712);
}

.palo {
    height: 150px;
    width: 30px;
    background-color: black;
    margin: auto;
    border-top: solid 2px grey;
    border-left: solid 2px grey;
    border-right: solid 2px grey;
}

.contenedor {
    height: 400px;
    width: 150px;
    background-color: black;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid 2px grey;
}

.luz {
height: 120px;
width: 120px;
background-color: #bbb;
border-radius: 50%;
margin: 5px;
}

.red {
    background-color: rgb(233, 9, 9);
}

.yellow {
    background-color: rgb(255, 217, 0);
}

.green {
    background-color: rgb(19, 175, 19);
}

.brillo-rojo {
   border-radius: 50%;
   box-shadow: 0 0 20px 4px rgb(255, 0, 0);
}

.brillo-amarillo {
    border-radius: 50%;
    box-shadow: 0 0 20px 4px rgb(255, 208, 0);
 }

 .brillo-verde {
    border-radius: 50%;
    box-shadow: 0 0 20px 2px rgb(9, 255, 0);
 }